.catalog {
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 20px;

    @include tablet {
      gap: 20px 10px;
    }
    @include mobile {
      grid-template-columns: repeat(3, 1fr);
    }
    @include mobile-s {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__link {
    display: block;
  }

  &__image {
    width: 196px;
    margin-bottom: 10px;
  }

  &__text {
    text-align: center;
  }
}