.section {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-bottom: 60px;

  @include mobile {
    margin-bottom: 50px;
  }

  &__head {
    border-bottom: var(--border-conatainer);
  }
  &__title {
    color: var(--color-red);
    padding-bottom: 16px;

    @include mobile {
      padding-bottom: 10px;
    }
  }
}