.sidebar {
  min-width: 210px;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include tablet {
      gap: 20px;
    }

    &:not(.open) li:not(:first-child) {
      @include tablet {
        display: none;
      }
    }
    & li:first-child {
      @include tablet {
        position: relative;
        padding-right: 30px;

        &:after {
          content: "";
          position: absolute;
          top: 50%;
          right: 0;
          width: 10px;
          height: 10px;
          border-top: 2px solid #302C23;
          border-left: 2px solid #302C23;
          transform: translateY(-20%) rotate(45deg);
        }
      }
    }
    &:not(.open) li:first-child:after {
      top: 10%;
      transform: rotate(225deg);
    }
  }

  &__item {
    font-size: 14px;

    @include tablet {
      font-size: 16px;
      width: fit-content;
    }

    &.active {
      font-weight: 700;
      color: var(--color-red);
    }
  }

  &_catalog {
    .sidebar__item a {
      display: flex;
      align-items: center;
      gap: 18px;
    }
    .sidebar__item img {
      width: 30px;
      aspect-ratio: 1;
    }
  }
}