.sidebar {
  min-width: 180px;
  &__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__item {
    font-size: 14px;

    &.active {
      font-weight: 700;
      color: var(--color-red);
    }
  }
}