.statistic {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;

  &_small {
    & .statistic__number {
      font-size: 60px;
    }
    & .statistic__text {
      font-size: 20px;
    }
    & .statistic__list {
      grid-column-gap: clamp(30px, 2vw, 80px);
      @include desktop {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto;
      }
    }
    & .statistic__item {
      @include desktop {
        &:nth-child(2) {
          grid-column-start: 1;
          grid-column-end: 3;
          grid-row-start: 2;
          grid-row-end: 3;
        }
      }
    }
  }

  &__list {
    display: inline-grid;
    grid-template-columns: repeat(3, max-content);
    grid-template-rows: auto auto;
    grid-row-gap: 30px;
    grid-column-gap: clamp(30px, 5vw, 100px);

    @include tablet {
      display: grid;
      justify-items: center;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto auto;
    }
  }

  &__item {
    align-self: center;
    display: flex;
    align-items: center;
    gap: 18px;

    @include tablet {
      &:nth-child(2) {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
      }
    }
  }

  &__number {
    font-size: 70px;
    font-weight: 800;
    color: var(--color-red);

    @include mobile {
      font-size: 60px;
    }

    @include mobile-s {
      font-size: 50px !important;
    }
  }

  &__text {
    font-size: 24px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.3;

    @include mobile {
      font-size: 20px;
      line-height: 1.2;
    }

    @include mobile-s {
      font-size: 16px !important;
    }
  }
}