.store {
  display: flex;
  gap: 80px;

  @include tablet {
    flex-direction: column;
    gap: 30px;
  }

  &__left {
    display: flex;
    flex-direction: column;
    gap: 35px;

    @include tablet {
      gap: 60px;
    }
  }

  &__slider img {
    width: 100%;
  }

  &__about {
    line-height: 1.4;
  }


  &__right {
    display: flex;
    flex-direction: column;
    gap: 60px;

    @include tablet {
      flex-direction: column-reverse;
      margin-left: 15px;
      margin-bottom: 60px;
    }
  }

  &__info {
    margin-left: -15px;
  }

  &__list-wrapper {
    margin-bottom: 20px;
    text-indent: -15px;
  }
  &__list {
    line-height: 1.4;
  }
  &__list-title {
    font-size: var(--font-size-base);
    font-weight: 400;
  }
  &__list-item {
    &:before {
      content: '-';
      padding-right: 5px;
    }
  }
}
