@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none],
[fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none],
[stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-dark: #000000;
  --color-light: #ffffff;
  --color-light-gray: #cccccc;
  --color-red: #ff0000;
  --color-red-alt: #f1391c;
  --color-gray: #b2b2b2;
  --color-gray-alternative: #c1c1c1;
  --border: 1px solid var(--color-red);
  --border-conatainer: 1px solid var(--color-gray);
  --shadow: 0 0 6px 0 rgba(0, 0, 0, 0.25);
  --font-family-base: "Geometria", sans-serif;
  --font-size-base: 16px;
  --font-size-secondary: 20px;
  --container-width: 1120px;
  --container-padding-x: 20px;
  --transition-duration: 0.2s;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.button {
  color: var(--color-red);
  border: var(--border);
  padding: 7px 14px;
  text-wrap: nowrap;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 640px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 641px) {
  .visible-mobile {
    display: none !important;
  }
}

@media (max-width: 923px) {
  .hidden-tablet {
    display: none !important;
  }
}

@media (min-width: 924px) {
  .visible-tablet {
    display: none !important;
  }
}

body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  color: var(--color-dark);
  background-color: white;
  line-height: 1;
}

main {
  min-height: 50vh;
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
}
a, a:hover {
  text-decoration: none;
}

h1 {
  font-size: 40px;
  font-weight: 800;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-bottom: 60px;
}
@media (max-width: 640px) {
  .section {
    margin-bottom: 50px;
  }
}
.section__head {
  border-bottom: var(--border-conatainer);
}
.section__title {
  color: var(--color-red);
  padding-bottom: 16px;
}
@media (max-width: 640px) {
  .section__title {
    padding-bottom: 10px;
  }
}

.header {
  z-index: 1000;
  padding-top: 30px;
  position: sticky;
  top: 0;
  background: var(--color-light);
}
.header__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 38px;
  position: relative;
}
@media (min-width: 641px) {
  .header__inner {
    padding-bottom: 20px;
    border-bottom: var(--border-conatainer);
  }
}
.header__top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 640px) {
  .header__top {
    flex-direction: column;
    align-items: start;
    gap: 40px;
  }
}
@media (max-width: 480px) {
  .header__top {
    gap: 20px;
  }
}
@media (max-width: 923px) {
  .header__logo {
    width: 180px;
  }
}
@media (max-width: 640px) {
  .header__logo-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.header__burger {
  padding: 0;
  background-color: transparent;
  border: 0;
}
.header__button {
  text-transform: uppercase;
}
@media (max-width: 923px) and (min-width: 641px) {
  .header__button {
    font-size: 14px;
    padding: 4px 8px;
  }
}
@media (max-width: 640px) {
  .header__button {
    max-width: 600px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.header__search {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header__phone {
  font-size: var(--font-size-secondary);
  font-weight: 700;
}
@media (max-width: 923px) {
  .header__phone {
    font-size: 14px;
  }
}
.header__menu {
  width: 100%;
}
@media (max-width: 640px) {
  .header__menu {
    position: absolute;
    top: 65px;
    display: none;
    flex-direction: column;
    gap: 28px;
    padding-top: 5px;
    background-color: var(--color-dark);
    color: var(--color-light);
  }
  .header__menu.is-open {
    display: flex;
  }
}
.header__menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: clamp(14px, 1.3888888889vw, 20px);
}
@media (max-width: 640px) {
  .header__menu-list {
    justify-content: center;
    flex-direction: column;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
  }
}
@media (max-width: 640px) {
  .header__menu-item {
    width: 100%;
    text-align: start;
    padding-block: 19px 15px;
    padding-inline: 15px;
    border-bottom: 1px solid var(--color-light-gray);
  }
}
.header__menu-phone {
  font-size: 26px;
  font-weight: 500;
  padding: 15px 15px 100px 15px;
}
.header__menu-button {
  padding: 0;
  background-color: transparent;
  border: 0;
  width: 40px;
  aspect-ratio: 1;
  position: relative;
  margin-inline: auto 22px;
  margin-top: 20px;
  padding: 20px;
  line-height: 1.5;
}
.header__menu-button::before, .header__menu-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 35px;
  height: 3px;
  border-radius: 5px;
  background: #fff;
  transform-origin: center;
}
.header__menu-button::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.header__menu-button::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.footer {
  background-color: var(--color-dark);
  color: var(--color-light-gray);
}
.footer__inner {
  padding-block: 55px 65px;
}
.footer__head, .footer__bottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 20px;
}
@media (max-width: 923px) {
  .footer__head, .footer__bottom {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 640px) {
  .footer__head, .footer__bottom {
    grid-template-columns: repeat(1, 1fr);
  }
}
.footer__head {
  padding-bottom: 32px;
  margin-bottom: 42px;
  border-bottom: var(--border-conatainer);
}
.footer__col {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer__title {
  font-size: 19px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-light);
  min-height: 35px;
  display: flex;
  align-items: end;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.breadcrumb {
  margin-block: 42px 20px;
  color: var(--color-gray);
}
.breadcrumb__list {
  display: flex;
  gap: 5px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 45px;
}
@media (max-width: 640px) {
  .cards {
    gap: 60px;
  }
}

.card:not(:last-child) {
  padding-bottom: 50px;
  border-bottom: var(--border-conatainer);
}
.card__title {
  margin-bottom: 35px;
}
.card__body {
  display: flex;
  gap: 40px;
}
@media (max-width: 640px) {
  .card__body {
    flex-direction: column;
    gap: 30px;
  }
  .card__body iframe {
    height: 300px;
  }
}
.card__meta {
  margin-bottom: 30px;
}
.card__content {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  max-width: 750px;
}
@media (max-width: 1160px) {
  .card__content {
    max-width: 650px;
  }
}
@media (max-width: 923px) {
  .card__content {
    max-width: 550px;
  }
}
@media (max-width: 640px) {
  .card__content {
    font-size: 18px;
    line-height: 1.5;
    max-width: none;
  }
}

.sidebar {
  min-width: 210px;
}
.sidebar__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media (max-width: 923px) {
  .sidebar__list {
    gap: 20px;
  }
}
@media (max-width: 923px) {
  .sidebar__list:not(.open) li:not(:first-child) {
    display: none;
  }
}
@media (max-width: 923px) {
  .sidebar__list li:first-child {
    position: relative;
    padding-right: 30px;
  }
  .sidebar__list li:first-child:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 10px;
    height: 10px;
    border-top: 2px solid #302C23;
    border-left: 2px solid #302C23;
    transform: translateY(-20%) rotate(45deg);
  }
}
.sidebar__list:not(.open) li:first-child:after {
  top: 10%;
  transform: rotate(225deg);
}
.sidebar__item {
  font-size: 14px;
}
@media (max-width: 923px) {
  .sidebar__item {
    font-size: 16px;
    width: fit-content;
  }
}
.sidebar__item.active {
  font-weight: 700;
  color: var(--color-red);
}
.sidebar_catalog .sidebar__item a {
  display: flex;
  align-items: center;
  gap: 18px;
}
.sidebar_catalog .sidebar__item img {
  width: 30px;
  aspect-ratio: 1;
}

.table {
  width: 100%;
  overflow-x: auto;
}
.table__element {
  width: 100%;
  border-collapse: collapse;
}
.table__row {
  border-bottom: var(--border-conatainer);
}
.table__cell {
  font-size: 10px;
  padding-block: 18px;
  padding-inline: 10px;
  text-align: left;
  vertical-align: middle;
}
.table__cell:not(:nth-child(1), :nth-child(2)) {
  text-align: center;
}
.table__cell--header {
  font-weight: 700;
  white-space: nowrap;
}
.table__body:last-child {
  border-bottom: none;
}

.page {
  display: flex;
  gap: 90px;
}
@media (max-width: 1160px) {
  .page {
    gap: 60px;
  }
}
@media (max-width: 923px) {
  .page {
    flex-direction: column;
    gap: 40px;
  }
}

.info__list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.info__item {
  display: flex;
  align-items: center;
  gap: 22px;
}
@media (min-width: 641px) {
  .info__item:first-child {
    align-items: start;
  }
}
.info__icon {
  width: 42px;
  aspect-ratio: 1;
}
@media (max-width: 1160px) {
  .info__icon {
    width: 36px;
  }
}
.info__text {
  font-size: 20px;
  line-height: 1.2;
}
@media (max-width: 1160px) {
  .info__text {
    font-size: 16px;
  }
}
.info__phone {
  text-decoration: underline;
}

.hero {
  margin-top: 42px;
}
.hero__slider {
  margin-bottom: 60px;
}

.statistic {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
.statistic_small .statistic__number {
  font-size: 60px;
}
.statistic_small .statistic__text {
  font-size: 20px;
}
.statistic_small .statistic__list {
  grid-column-gap: clamp(30px, 2vw, 80px);
}
@media (max-width: 1160px) {
  .statistic_small .statistic__list {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
  }
}
@media (max-width: 1160px) {
  .statistic_small .statistic__item:nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}
.statistic__list {
  display: inline-grid;
  grid-template-columns: repeat(3, max-content);
  grid-template-rows: auto auto;
  grid-row-gap: 30px;
  grid-column-gap: clamp(30px, 5vw, 100px);
}
@media (max-width: 923px) {
  .statistic__list {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
  }
}
.statistic__item {
  align-self: center;
  display: flex;
  align-items: center;
  gap: 18px;
}
@media (max-width: 923px) {
  .statistic__item:nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}
.statistic__number {
  font-size: 70px;
  font-weight: 800;
  color: var(--color-red);
}
@media (max-width: 640px) {
  .statistic__number {
    font-size: 60px;
  }
}
@media (max-width: 480px) {
  .statistic__number {
    font-size: 50px !important;
  }
}
.statistic__text {
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.3;
}
@media (max-width: 640px) {
  .statistic__text {
    font-size: 20px;
    line-height: 1.2;
  }
}
@media (max-width: 480px) {
  .statistic__text {
    font-size: 16px !important;
  }
}

.services__list {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  row-gap: 30px;
  column-gap: 20px;
}
@media (max-width: 923px) {
  .services__list {
    grid-template-columns: auto auto;
    justify-content: space-around;
  }
}
@media (max-width: 640px) {
  .services__list {
    grid-template-columns: 1fr;
    justify-content: start;
  }
}
.services__item {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 40px;
}
.services__icon {
  width: 50px;
  aspect-ratio: 1;
}

.locations__list {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(3, auto);
  justify-content: space-between;
  row-gap: 10px;
}
@media (max-width: 923px) {
  .locations__list {
    grid-auto-flow: row;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
}
@media (max-width: 480px) {
  .locations__list {
    grid-template-columns: 1fr;
  }
}
.locations__item {
  display: flex;
  align-items: center;
  gap: 17px;
  padding: 16px 50px 16px 10px;
}
@media (hover: hover) {
  .locations__item:hover {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.25);
  }
}
@media (hover: none) {
  .locations__item:active {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.25);
  }
}
@media (max-width: 1160px) {
  .locations__item {
    padding: 8px 25px 8px 5px;
  }
}
.locations__text {
  font-size: 20px;
  line-height: 1.3;
}

.store {
  display: flex;
  gap: 80px;
}
@media (max-width: 923px) {
  .store {
    flex-direction: column;
    gap: 30px;
  }
}
.store__left {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
@media (max-width: 923px) {
  .store__left {
    gap: 60px;
  }
}
.store__slider img {
  width: 100%;
}
.store__about {
  line-height: 1.4;
}
.store__right {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
@media (max-width: 923px) {
  .store__right {
    flex-direction: column-reverse;
    margin-left: 15px;
    margin-bottom: 60px;
  }
}
.store__info {
  margin-left: -15px;
}
.store__list-wrapper {
  margin-bottom: 20px;
  text-indent: -15px;
}
.store__list {
  line-height: 1.4;
}
.store__list-title {
  font-size: var(--font-size-base);
  font-weight: 400;
}
.store__list-item:before {
  content: "-";
  padding-right: 5px;
}

.contacts {
  display: flex;
  gap: 45px;
}
@media (max-width: 923px) {
  .contacts {
    flex-direction: column;
    gap: 30px;
  }
}
.contacts__map {
  margin-bottom: 54px;
}
@media (max-width: 923px) {
  .contacts__map {
    margin-bottom: 0;
  }
}
@media (max-width: 923px) {
  .contacts__image {
    margin-bottom: 30px;
  }
}
.contacts__info {
  margin-bottom: 180px;
}
@media (max-width: 923px) {
  .contacts__info {
    margin-bottom: 60px;
  }
}
.contacts__text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-inline: 106px 10px;
  max-width: 268px;
}
@media (max-width: 923px) {
  .contacts__text {
    margin-inline: 0;
    max-width: none;
  }
}
.contacts__text span {
  font-size: 36px;
  font-weight: 700;
}
.contacts__text span:nth-child(2), .contacts__text span:nth-child(4), .contacts__text span:nth-child(6) {
  color: var(--color-red);
}
.contacts__text span:nth-child(3), .contacts__text span:nth-child(5) {
  font-size: 20px;
  font-weight: 400;
}
.contacts__text span:nth-child(2) {
  margin-bottom: 30px;
}
.contacts__text span:nth-child(4) {
  margin-bottom: 20px;
}
.contacts__text span:nth-child(6) {
  margin-bottom: 50px;
}
@media (max-width: 923px) {
  .contacts__text span:nth-child(6) {
    margin-bottom: 40px;
  }
}
.contacts__phone {
  font-size: 20px;
  text-decoration: underline;
}

.company__title, .company__description {
  margin-bottom: 42px;
}
.company__description {
  font-size: var(--font-size-secondary);
  line-height: 1.3;
}
.company__video {
  margin-bottom: 110px;
}
.company__diplomas {
  margin-bottom: 80px;
  padding-bottom: 22px;
  border-bottom: var(--border-conatainer);
}

.faq {
  width: 100%;
}
.faq__list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.faq__answer {
  display: none;
  padding: 10px;
  background-color: #f9f9f9;
  border-top: 1px solid #ddd;
  font-size: var(--font-size-base);
}
.faq__item--active .faq__answer {
  display: block;
}
.faq__question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px;
  font-size: var(--font-size-secondary);
  line-height: 1.4;
  background-color: #eee;
  border: none;
  cursor: pointer;
  text-align: start;
}
.faq__icon {
  font-size: 20px;
  transition: transform 0.2s;
}
.faq__item--active .faq__icon {
  content: "−";
}

.catalog__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px 20px;
}
@media (max-width: 923px) {
  .catalog__list {
    gap: 20px 10px;
  }
}
@media (max-width: 640px) {
  .catalog__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 480px) {
  .catalog__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
.catalog__link {
  display: block;
}
.catalog__image {
  width: 196px;
  margin-bottom: 10px;
}
.catalog__text {
  text-align: center;
}

.service__title, .service__text {
  margin-bottom: 40px;
}
.service__video {
  margin-bottom: 80px;
}
.service__text {
  font-size: var(--font-size-secondary);
  line-height: 1.3;
}
.service__button {
  min-width: 294px;
  float: right;
  justify-content: center;
}

.product__top {
  display: flex;
  gap: 50px;
  margin-bottom: 86px;
}
@media (max-width: 640px) {
  .product__top {
    margin-bottom: 60px;
    gap: 0;
  }
}
@media (max-width: 480px) {
  .product__top {
    flex-direction: column;
  }
}
.product__slider {
  min-width: 220px;
}
@media (max-width: 480px) {
  .product__slider {
    margin-inline: auto;
  }
}
.product__title {
  margin-bottom: 35px;
}
.product__text {
  line-height: 1.3;
  margin-bottom: 85px;
}
@media (max-width: 923px) {
  .product__text {
    margin-bottom: 50px;
  }
}
@media (max-width: 640px) {
  .product__text {
    margin-bottom: 30px;
  }
}
.product__button {
  float: right;
}
.product__table h2 {
  margin-bottom: 42px;
}

/*# sourceMappingURL=styles.css.map */
